extends ../../post
include ../../mixins/pie-tldr

block content
  include ../../includes/v4-update
  +pie-tldr(0)
  section
    p D3.js, in case you are unfamiliar with it, is a powerful and flexible JavaScript library that can be used to create interactive data visualizations with HTML, SVG and CSS. D3 stands for Data-Driven Documents #[span.image-wrapper(data-width="430" data-height="538" data-src=`/img/${category.slug}/${post.slug}/i-dont-always-d3.jpg`)] and it's behind some of the most innovative and engaging visualizations currently on the web. On <a href="http://d3js.org/" target="_blank">d3js.org</a> you can find a wide variety of examples in addition to extensive documentation. I think it's one of the most exciting projects in the JavaScript ecosystem, and its prolific creator, <a href="http://bost.ocks.org/mike/" target="_blank">Mike Bostock</a>, deserves our collective thanks and admiration.
    p As great as it is, even experienced JavaScript developers can find D3 daunting at first. It seems like a lot of code is needed to do anything at all and there is <em>so</em> much available in the <a href="https://github.com/d3/d3/blob/master/API.md" target="_blank">D3 namespace</a>. That, however, is simply a byproduct of how flexible it is. The key is to keep calm #[span.image-wrapper(data-width="400" data-height="225" data-src=`/img/${category.slug}/${post.slug}/panic.gif`)] and take it one step at a time. By looking at each small piece on its own and seeing how it fits with the rest of the puzzle, you'll find that patterns start to emerge and that it's not so daunting after all.
    p We'll start with this bare-bones pie chart:
    iframe.centered(src="/static/d3-js-step-by-step/step-1-a-basic-pie-chart.html", height="380", width="380", border="0", seamless)
    p And by the end we'll have this interactive, animated donut chart that loads data from an external source. Try clicking on the coloured squares in the legend to filter the dataset:
    iframe.centered(src="/static/d3-js-step-by-step/step-6-animating-interactivity.html", height="410", width="380", border="0", seamless)
    p We're going to be covering a lot of ground in these posts, so we'd better get started... onwards to <a href="/d3-js-step-by-step/step-1-a-basic-pie-chart">Step 1: A Basic Pie Chart</a>.

