script(src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js", async)
ins(class="adsbygoogle", style="display:block", data-ad-client="ca-pub-5946465962339886", data-ad-slot="8302421659", data-ad-format="auto")
script.
  (adsbygoogle = window.adsbygoogle || []).push({});
