section.panel
  p.
    #[strong UPDATE] (July 18, 2016): The code and API links in these tutorials have been updated to target D3 v4, which was a complete rewrite. The D3 wiki contains a breakdown of the #[a(href="https://github.com/d3/d3/blob/master/CHANGES.md" target="_blank") changes from v3].
