extends layout

block nav
  ul
    li
      a.rnd.scrollLink(href="/#profile")
        span Profile
    li
      a.rnd.scrollLink(href="/#portfolio")
        span Portfolio
    li.last
      a.rnd.scrollLink(href="/#contact")
        span Contact Me

block body
  article.cnt
    div.bd
      h1 Uhoh... Server Error
      p Unfortunately something has gone wrong on the server.