extends layout

block nav
  ul
    li
      a.rnd.scrollLink(href="#profile")
        span Profile
    li
      a.rnd.scrollLink(href="#portfolio")
        span Portfolio
    li.last
      a.rnd.scrollLink(href="#contact")
        span Contact Me

block body
  article#profile.cnt
    div.bd
      div.kent
        h1 Profile
        p.bio1 Hi! My name is Kent and I am a full stack web developer based in Toronto, Ontario. My focus is on building applications that let data flow smoothly back and forth between the server and the user.
        p.bio2 I'm comfortable working both server-side and client-side. On the server I tend to use open source software such as PHP, Python, Ruby or Node.js. On the front-end I like to use as much HTML5 and CSS3 as possible, along with JavaScript and jQuery. Ultimately I believe in using the right tool for the job.
      
  article#portfolio
    section.cnt
      div.bd
        h1 Portfolio
        p Here are some of the projects that I have worked on:
      
    section.cnt
      div.bd
        div.clearfix.portfolio
          div.screenshots
            div.slider
              img.shadow(src="/img/portfolio/bbe-1.png", alt="BrainBoost Education", title="BrainBoost Education")
              img.shadow(src="/img/portfolio/bbe-2.png", alt="BrainBoost Education: Classes", title="BrainBoost Education: Classes")
          h3 BrainBoost Education
          p
            a(href="http://www.brainboosteducation.com/", target="_blank") http://www.brainboosteducation.com
          p 
            i BrainBoost 
            span &nbsp;is an educational services company in Vancouver, BC.
          p Tech used: PHP, MySQL, HTML5, CSS(3), Sass, JavaScript, jQuery, XML, PayPal
        
    section.cnt
      div.bd
        div.clearfix.portfolio
          div.screenshots
            div.slider
              img.shadow(src="/img/portfolio/bbc.png", alt="BrainBoost Community Resources", title="BrainBoost Community Resources")
              img.shadow(src="/img/portfolio/bbc2.png", alt="BrainBoost Community Calendar", title="BrainBoost Community Calendar")
          h3 BrainBoost Community
          p 
            a(href="http://community.brainboosteducation.com/", target="_blank") http://community.brainboosteducation.com
          p
            i BrainBoost Community
            span &nbsp;is the internal site for&nbsp;
            i BrainBoost Education
            span . It provides scheduling, invoicing and payroll functionality, as well as resource sharing and records management.
          p Tech used: PHP, Python, MySQL, HTML5, CSS(3), Sass, JavaScript, jQuery, XML, JSON

    section.cnt
      div.bd
        div.clearfix.portfolio
          div.screenshots
            div.slider
              img.shadow(src="/img/portfolio/bbn.png", alt="BrainBoost Newsletter: Issue", title="BrainBoost Newsletter: Issue")
              img.shadow(src="/img/portfolio/bbn2.png", alt="BrainBoost Newsletter: Article", title="BrainBoost Newsletter: Article")
          h3 The Hubbub
          p 
            a(href="http://newsletter.brainboosteducation.com/", target="_blank") http://newsletter.brainboosteducation.com
          p
            i The Hubbub
            span &nbsp;is&nbsp;
            i BrainBoost
            span 's monthly newsletter.
          p Tech used: PHP, HTML5, CSS(3), Sass, XML

    section.cnt
      div.bd
        div.clearfix.portfolio
          div.screenshots
            div.slider
              img.shadow(src="/img/portfolio/pb.png", alt="Pixel Blocked!", title="Pixel Blocked!")
              img.shadow(src="/img/portfolio/pb2.png", alt="Pixel Blocked! The Developer", title="Pixel Blocked! The Developer")
          h3 Pixel Blocked!
          p
            a(href="http://pixelblocked.com/", target="_blank") http://pixelblocked.com
          p
            i Pixel Blocked!
            span &nbsp;is a spatial logic puzzle game for Windows, Windows Phone and XBox created by indie developer Daniel Truong.
          p This site showcases the game and allows visitors to purchase it.
          p Tech used: PHP, MySQL, HTML5, CSS(3), JavaScript, jQuery, PayPal

    section.cnt
      div.bd
        div.clearfix.portfolio
          div.screenshots
            div.slider
              img.shadow(src="/img/portfolio/piqlo.png", alt="Piqlo Channel", title="Piqlo Channel")
              img.shadow(src="/img/portfolio/piqlo2.png", alt="Piqlo Dashboard", title="Piqlo Dashboard")
          h3 Piqlo
          p [Currently undergoing private testing]
          p
            i Piqlo
            span &nbsp;is a group photo-sharing application.
          p Tech used: Ruby on Rails, MongoDB, HTML5, CSS(3), Sass, JavaScript, CoffeeScript, jQuery, JSON

    section.cnt
      div.bd
        div.clearfix.portfolio
          div.screenshots
            div.slider
              img.shadow(src="/img/portfolio/wth-1.png", alt="Why Things Hurt", title="Why Things Hurt")
              img.shadow(src="/img/portfolio/wth-2.png", alt="Why Things Hurt Blog", title="Why Things Hurt Blog")
          h3 Why Things Hurt
          p
            a(href="http://whythingshurt.com/", target="_blank") http://whythingshurt.com
          p
            i Why Things Hurt
            span &nbsp;is a physiotherapy blog and video subscription service run by Brent Stevenson.
          p Tech used: PHP, MySQL, HTML5, CSS(3), JavaScript, jQuery, XML, Flash, PayPal

    section.cnt
      div.bd
        div.clearfix.portfolio
          div.screenshots
            div.slider
              img.shadow(src="/img/portfolio/hs.png", alt="HintStream", title="HintStream")
              img.shadow(src="/img/portfolio/hs2.png", alt="HintStream: Add a Hint", title="HintStream: Add a Hint")
          h3 HintStream
          p
            a [Currently undergoing private testing]
          p
            i HintStream
            span &nbsp;is a platform for the sharing and connecting of ideas.
          p Tech used: Node.js, MongoDB, HTML5, Jade, CSS(3), Stylus, JavaScript, CoffeeScript, jQuery, JSON

    section.cnt
      div.bd
        div.clearfix.portfolio
          div.screenshots
            div.slider
              img.shadow(src="/img/portfolio/remix.png", alt="Remix Your Education: Slide Creator", title="Remix Your Education: Slide Creator")
              img.shadow(src="/img/portfolio/remix2.png", alt="Remix Your Education: PIPE Planning 10", title="Remix Your Education: PIPE Planning 10")
          h3 Remix Your Education
          p
            a(href="http://remixyoureducation.com/", target="_blank") http://remixyoureducation.com
          p
            i Remix Your Education
            span &nbsp;is an innovative online course creator and learning management system.
          p Tech used: PHP, MySQL, HTML5, CSS(3), Sass, JavaScript, jQuery, XML, JSON, Flash

    section.cnt
      div.bd
        div.clearfix.portfolio
          div.screenshots
            div.slider
              img.shadow(src="/img/portfolio/pp.png", alt="Patremoir Press: Fathers: A Literary Anthology", title="Patremoir Press: Fathers: A Literary Anthology")
              img.shadow(src="/img/portfolio/pp2.png", alt="Patremoir Press: Thumbnail Biographies", title="Patremoir Press: Thumbnail Biographies")
          h3 Patremoir Press
          p 
            a(href="http://patremoirpress.com/", target="_blank") http://patremoirpress.com
          p
            i Patremoir Press
            span &nbsp;is a small publishing company based in Vancouver, BC. It is run by Andre Gerard, who recently published
            i &nbsp;Fathers: A Literary Anthology
            span .
          p Tech used: PHP, MySQL, HTML5, CSS(3), JavaScript, jQuery, XML

  article#contact.cnt
    div.bd
      h1 Contact Me
      div#contact-form
        p
          label(for="name") Your name:
          br
          input#name(type="text")
        p
          label(for="email") Your email address:
          br
          input#email(type="email")
        p
          label(for="message") Your message:
          br
          textarea#message
        p.hidden
          label(for="comment") If you can see this box, leave it empty:
          br
          textarea#comment
        button#send.btn
          span Send this message!
        div#sending
      
