extends ../../post

block content
  section
    p Well... #[a(href="http://fontawesome.io/", target="_blank") Font Awesome] #[a(href="http://getbootstrap.com/components/#glyphicons", target="_blank") Bootstrap Glyphicons]
