extends ../page

block content
  ol
    li
      h4 Zero Vis...what?
      p Zero viscosity, which implies the ability to flow without resistance, is a property observed in <a href="https://en.wikipedia.org/wiki/Superfluidity" target="_blank">superfluids</a>, a state of matter that is only found in liquid helium, ultracold atomic gases and (theoretically) in certain realms of high-energy and astrophyics. Superfluids exhibit some startling patterns of motion that defy both gravity and surface tension, such as climbing the walls of their containers. Like their better-known cousins, <a href="https://en.wikipedia.org/wiki/Superconductivity" target="_blank">superconductors</a>, they only occur at very low temperatures: the critical temperature (or &lambda;-point) for helium-4 is 2.172K, which is -270.978&deg;C or -455.7604&deg;F.
    li
      h4 Who thought that was a good name?
      p I did. I'm Kent English, the guy behind this site. Brief bio: I grew up on a farm outside <a href="https://en.wikipedia.org/wiki/Hamiota,_Manitoba" target="_blank">Hamiota</a>, a small town in southwestern Manitoba. I studied math and physics at <a href="http://queensu.ca/" target="_blank">Queen's University</a>, where I also developed an interest in languages. That lead me to spend some time in Japan, although I've sadly lost a lot of my proficiency in 日本語. I've also had a long-standing interest in computers and programming, which is why these days I can found be at <a href="http://crowdriff.com/" target="_blank">CrowdRiff</a>, a great startup in Toronto.   
    li
      h4 OK, but <em>why</em> did you think Zero Viscosity was a good name?
      p Oh, that's what you meant. I first encountered superfluids and zero viscosity in high school, because&mdash;let's face it&mdash;I'm a bit of a nerd. I ultimately chose it as the name of my site (and my consultancy, <em>Zero Viscosity Data Integration Solutions</em>) because I work with data and I liked the idea of data flowing smoothly from one point to another without any resistance or&mdash;you guessed it&mdash;viscosity. In retrospect, perhaps I should have chosen a name that's easier to spell. To migitate that issue, the domain <a href="http://zevi.co" target="_blank">zevi.co</a> also works.
    li
      h4 You say you work with data... what does that mean?
      p Well, it depends on the day of the week. I work with data in a variety of capacities. On Mondays I'm often figuring out which kind of data store to use for a particular problem and how best to organize the data once I get it. I spend time on Tuesdays building back-end systems to retrieve or transform raw data. Wednesdays find me working on an API layer to deliver transformed data in JSON or some other format. Thursdays are usually reserved for buliding single-page web applications that allow you to interact with the data served up by the API. I like to spend Fridays doing analysis on some processed dataset and generating visualizations of it. On weekends I put the other days in a Yahtzee cup <span class="image-wrapper" data-width="320" data-height="224" data-src="https://s3.amazonaws.com/zeroviscosity/20-questions/yahtzee-cup.jpg"></span> and scramble them up for the next iteration.
    li
      h4 5 != 20. Where are the rest of the questions?
      p Apparently you're good at counting. It's true that I'm a few questions short, however they say patience is a virtue. I'll add more questions as they occur to me.
