extends ../page

block content
  ol
    li
      h4 Zero Vis...what?
      p <em>Zero Viscosity</em> is a concept from physics that refers to the fact that <a href="https://en.wikipedia.org/wiki/Superfluidity" target="_blank">superfluids</a> lose all resistance to flow. Only liquid helium is able to achieve superfluidity.
    li
      h4 Who thought that was a good name?
      p I did. I'm Kent English, the guy behind this site. Brief bio: I grew up on a farm outside <a href="http://www.hamiota.com/" target="_blank">Hamiota</a>, a small town in southwest Manitoba. I studied math and physics at <a href="http://queensu.ca/" target="_blank">Queen's University</a>, where I also developed an interest in languages. That lead me to spend some time in Japan, although I've sadly a lot of my proficiency in 日本語. I've also had a long-standing interest in computers and programming, which is why these days I can found slinging code at <a href="http://crowdriff.com/" target="_blank">CrowdRiff</a>, a great startup in Toronto.   
    li
      h4 OK, but <em>why</em> did you think Zero Viscosity was a good name?
      p Oh, that's what you meant.
    li
      h4 What
      p Stuff
    li
      h4 Where are the rest of the questions?
      p They say patience is a virtue. I'll add more questions as they occur to me.
