extends ../page

block content
  p You can find me on the following networks:
  ul.social-links 
    li
      a(href="https://twitter.com/kentenglish", target="_blank")
        span.social-icon.twitter
        span.social-handle @kentenglish
    li 
      a(href="http://instagram.com/kentenglish", target="_blank") 
        span.social-icon.instagram
        span.social-handle @kentenglish
    li
      a(href="https://www.linkedin.com/in/kentenglish", target="_blank")
        span.social-icon.linkedin
        span.social-handle @kentenglish
    li
      a(href="https://github.com/zeroviscosity", target="_blank")
        span.social-icon.github
        span.social-handle @zeroviscosity
