<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="no-js ie" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">

  <title>Zero Viscosity Solutions</title>

  <meta name="description" content="Zero Viscosity: A web development company based in Toronto, Ontario. Specializing in open source web applications." />
  <meta name="viewport" content="width=600px" />

  <link href="{{context}}/css/style.css?v=1.0.1" rel="stylesheet" />
  <script src="{{context}}/js/libs/modernizr-2.5.3.min.js"></script>
  <script type="text/javascript" src="http://use.typekit.com/hfq1gap.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body>
  <!--[if lt IE 7]>
    <p class="chromeframe">Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p>
  <![endif]-->
  <header class="clearfix cnt">
    <a href="/" class="ir logo">Zero Viscosity</a>
    <div class="navWrp">
      <nav class="cnt clearfix">
        <ul>
          <li class=""><a href="#profile" class="rnd scrollLink"><span>Profile</span></a></li>
          <li class=""><a href="#portfolio" class="rnd scrollLink"><span>Portfolio</span></a></li>
          <li class="last"><a href="#contact" class="rnd scrollLink"><span>Contact Me</span></a></li>
        </ul>
      </nav>
    </div>
  </header>
  <div class="mn" role="main">

    <div class="wrp">
{% block content %}

{% endblock %}
    </div> <!-- /.wrp -->
  </div> <!-- /.mn -->

  <footer class="bd cnt">&copy;2012&ndash;2013 Zero Viscosity Data Integration Solutions</footer>

  <div id="dlg" class="reveal-modal">
    <div id="dlg-cnt"></div>
    <a class="close-reveal-modal">&#215;</a>
  </div>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="{{context}}/js/libs/jquery-1.7.1.min.js"><\/script>')</script>
  <script src="{{context}}/js/plugins.js?v=1.0.1"></script>
  <script src="{{context}}/js/main.js?v=1.0.1"></script>
  <script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-33242750-1']);
  _gaq.push(['_setDomainName', 'zeroviscosity.com']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
  </script>
</body>
</html>
