{% extends "zevi/views/templates/base.html" %}

{% block content %}

    <article id="profile" class="cnt">
      <div class="bd">
        <div class="kent">
          <h1>Profile</h1>
          <p class="bio1">Hi! My name is Kent and I am a full stack web developer based in Toronto, Ontario. My focus is on building applications that let data flow smoothly back and forth between the server and the user.</p>
          <p class="bio2">I'm comfortable working both server-side and client-side. On the server I tend to use open source software such as PHP, Python, Ruby or Node.js. On the front-end I like to use as much HTML5 and CSS3 as possible, along with JavaScript and jQuery. Ultimately I believe in using the right tool for the job.</p>
        </div>
      </div>
    </article>

    <article id="portfolio">

      <section class="cnt">
        <div class="bd">
          <h1>Portfolio</h1>
          <p>Here are some of the projects that I have worked on:</p>
        </div>
      </section>

      <section class="cnt">
        <div class="bd">
          <div class="clearfix portfolio">
            <div class="screenshots">
              <div class="slider">
                <img src="/img/portfolio/bbe-1.png" class="shadow" alt="BrainBoost Education" title="BrainBoost Education" />
                <img src="/img/portfolio/bbe-2.png" class="shadow" alt="BrainBoost Education: Classes" title="BrainBoost Education: Classes" />
              </div>
            </div>
            <h3>BrainBoost Education</h3>
            <p><a href="http://www.brainboosteducation.com/" target="_blank">http://www.brainboosteducation.com/</a></p>
            <p><i>BrainBoost</i> is an educational services company in Vancouver, BC.</p>
            <p>Tech used: PHP, MySQL, HTML5, CSS(3), Sass, JavaScript, jQuery, XML, PayPal</p>
          </div>
        </div>
      </section>

      <section class="cnt">
        <div class="bd">
          <div class="clearfix portfolio">
            <div class="screenshots">
              <div class="slider">
                <img src="/img/portfolio/bbc.png" class="shadow" alt="BrainBoost Community Resources" title="BrainBoost Community Resources" />
                <img src="/img/portfolio/bbc2.png" class="shadow" alt="BrainBoost Community Calendar" title="BrainBoost Community Calendar" />
              </div>
            </div>
            <h3>BrainBoost Community</h3>
            <p><a href="http://community.brainboosteducation.com/" target="_blank">http://community.brainboosteducation.com/</a></p>
            <p><i>BrainBoost Community</i> is the internal site for <i>BrainBoost Education</i>. It provides scheduling, invoicing and payroll functionality, as well as resource sharing and records management.</p>
            <p>Tech used: PHP, Python, MySQL, HTML5, CSS(3), Sass, JavaScript, jQuery, XML, JSON</p>
          </div>
        </div>
      </section>

      <section class="cnt">
        <div class="bd">
          <div class="clearfix portfolio">
            <div class="screenshots">
              <div class="slider">
                <img src="/img/portfolio/bbn.png" class="shadow" alt="BrainBoost Newsletter: Issue" title="BrainBoost Newsletter: Issue" />
                <img src="/img/portfolio/bbn2.png" class="shadow" alt="BrainBoost Newsletter: Article" title="BrainBoost Newsletter: Article" />
              </div>
            </div>
            <h3>The Hubbub</h3>
            <p><a href="http://newsletter.brainboosteducation.com/" target="_blank">http://newsletter.brainboosteducation.com/</a></p>
            <p><i>The Hubbub</i> is <i>BrainBoost</i>'s monthly newsletter.</p>
            <p>Tech used: PHP, HTML5, CSS(3), Sass, XML</p>
          </div>
        </div>
      </section>

      <section class="cnt">
        <div class="bd">
          <div class="clearfix portfolio">
            <div class="screenshots">
              <div class="slider">
                <img src="/img/portfolio/pb.png" class="shadow" alt="Pixel Blocked!" title="Pixel Blocked!" />
                <img src="/img/portfolio/pb2.png" class="shadow" alt="Pixel Blocked! The Developer" title="Pixel Blocked! The Developer" />
              </div>
            </div>
            <h3>Pixel Blocked!</h3>
            <p><a href="http://pixelblocked.com/" target="_blank">http://pixelblocked.com/</a></p>
            <p><i>Pixel Blocked!</i> is a spatial logic puzzle game for Windows, Windows Phone and XBox created by indie developer Daniel Truong.</p>
            <p>This site showcases the game and allows visitors to purchase it.</p>
            <p>Tech used: PHP, MySQL, HTML5, CSS(3), JavaScript, jQuery, PayPal</p>
          </div>
        </div>
      </section>

      <section class="cnt">
        <div class="bd">
          <div class="clearfix portfolio">
            <div class="screenshots">
              <div class="slider">
                <img src="/img/portfolio/piqlo.png" class="shadow" alt="Piqlo Channel" title="Piqlo Channel" />
                <img src="/img/portfolio/piqlo2.png" class="shadow" alt="Piqlo Dashboard" title="Piqlo Dashboard" />
              </div>
            </div>
            <h3>Piqlo</h3>
            <p>[Currently undergoing private testing]</p>
            <p><i>Piqlo</i> is a group photo-sharing application.</p>
            <p>Tech used: Ruby on Rails, MongoDB, HTML5, CSS(3), Sass, JavaScript, CoffeeScript, jQuery, JSON</p>
          </div>
        </div>
      </section>

      <section class="cnt">
        <div class="bd">
          <div class="clearfix portfolio">
            <div class="screenshots">
              <div class="slider">
                <img src="/img/portfolio/wth-1.png" class="shadow" alt="Why Things Hurt" title="Why Things Hurt" />
                <img src="/img/portfolio/wth-2.png" class="shadow" alt="Why Things Hurt Blog" title="Why Things Hurt Blog" />
              </div>
            </div>
            <h3>Why Things Hurt</h3>
            <p><a href="http://whythingshurt.com/" target="_blank">http://whythingshurt.com/</a></p>
            <p><i>Why Things Hurt</i> is a physiotherapy blog and video subscription service run by Brent Stevenson.</p>
            <p>Tech used: PHP, MySQL, HTML5, CSS(3), JavaScript, jQuery, XML, Flash, PayPal</p>
          </div>
        </div>
      </section>

      <section class="cnt">
        <div class="bd">
          <div class="clearfix portfolio">
            <div class="screenshots">
              <div class="slider">
                <img src="/img/portfolio/hs.png" class="shadow" alt="HintStream" title="HintStream" />
                <img src="/img/portfolio/hs2.png" class="shadow" alt="HintStream: Add a Hint" title="HintStream: Add a Hint" />
              </div>
            </div>
            <h3>HintStream</h3>
            <p><a href="http://hintstream.com/" target="_blank">http://hintstream.com/</a></p>
            <p><i>HintStream</i> is a platform for the sharing and connecting of ideas.</p>
            <p>Tech used: Node.js, MongoDB, HTML5, Jade, CSS(3), Stylus, JavaScript, CoffeeScript, jQuery, JSON</p>
          </div>
        </div>
      </section>

      <section class="cnt">
        <div class="bd">
          <div class="clearfix portfolio">
            <div class="screenshots">
              <div class="slider">
                <img src="/img/portfolio/remix.png" class="shadow" alt="Remix Your Education: Slide Creator" title="Remix Your Education: Slide Creator" />
                <img src="/img/portfolio/remix2.png" class="shadow" alt="Remix Your Education: PIPE Planning 10" title="Remix Your Education: PIPE Planning 10" />
              </div>
            </div>
            <h3>Remix Your Education</h3>
            <p><a href="http://remixyoureducation.com/" target="_blank">http://remixyoureducation.com/</a></p>
            <p><i>Remix Your Education</i> is an innovative online course creator and learning management system.</p>
            <p>Tech used: PHP, MySQL, HTML5, CSS(3), Sass, JavaScript, jQuery, XML, JSON, Flash</p>
          </div>
        </div>
      </section>

      <section class="cnt">
        <div class="bd">
          <div class="clearfix portfolio">
            <div class="screenshots">
              <div class="slider">
                <img src="/img/portfolio/pp.png" class="shadow" alt="Patremoir Press: Fathers: A Literary Anthology" title="Patremoir Press: Fathers: A Literary Anthology" />
                <img src="/img/portfolio/pp2.png" class="shadow" alt="Patremoir Press: Thumbnail Biographies" title="Patremoir Press: Thumbnail Biographies" />
              </div>
            </div>
            <h3>Patremoir Press</h3>
            <p><a href="http://patremoirpress.com/" target="_blank">http://patremoirpress.com/</a></p>
            <p><i>Patremoir Press</i> is a small publishing company based in Vancouver, BC. It is run by Andre Gerard, who recently published <i>Fathers: A Literary Anthology</i>.</p>
            <p>Tech used: PHP, MySQL, HTML5, CSS(3), JavaScript, jQuery, XML</p>
          </div>
        </div>
      </section>
      <!--
      <section class="cnt">
        <div class="bd">
          <div class="clearfix portfolio">
            <div class="screenshots">
              <div class="slider">
                <img src="/img/portfolio/nugooroo.png" class="shadow" alt="NuGooroo: Prediction" title="NuGooroo: Prediction" />
                <img src="/img/portfolio/nugooroo2.png" class="shadow" alt="NuGooroo: Profile" title="NuGooroo: Profile" />
              </div>
            </div>
            <h3>NuGooroo</h3>
            <p><a href="http://www.nugooroo.com/" target="_blank">http://www.nugooroo.com/</a></p>
            <p><i>NuGooroo</i> is a project that allows people to make predictions about Finance, Sports, Current Affairs, etc. After the deadline has passed, other users can then rate the prediction in terms of how accurate it was, how specific it was, and how surprising it was.</p>
            <p>Tech used: PHP, MySQL, XHTML, CSS(3), JavaScript, jQuery, XML, Flash</p>
          </div>
        </div>
      </section>
      -->
    </article>

    <article id="contact" class="cnt">
      <div class="bd">
        <h1>Contact Me</h1>
        <div id="contact-form">
          <p>
            <label for="name">Your name:</label>
            <br />
            <input type="text" id="name" />
          </p>
          <p>
            <label for="email">Your email address:</label>
            <br />
            <input type="email" id="email" />
          </p>
          <p>
            <label for="message">Your message:</label>
            <br />
            <textarea id="message"></textarea>
          </p>
          <p class="hidden">
            <label for="comment">If you can see this box, leave it empty:</label>
            <br />
            <textarea id="comment"></textarea>
          </p>
          <button id="send" class="btn"><span>Send this message!</span></button>
          <div id="sending"></div>
        </div>
      </div>
    </article>

{% endblock %}
