.icon {
  background-color: transparent;
  background-image: url(/img/icons.png);
  background-size: rem-calc(48) rem-calc(96);
  display: block;
  height: rem-calc(24);
  width: rem-calc(24);
  &.icon-home {
    background-position: 0 0;
  }
  &.icon-20-questions {
    background-position: 0 rem-calc(-24);
  }
  &.icon-contact {
    background-position: 0 rem-calc(-48);
  }
  &.icon-d3-js-step-by-step {
    background-position: 0 rem-calc(-72);
  }
}

a:hover {
  .icon {
    &.icon-home {
      background-position: rem-calc(-24) 0;
    }
    &.icon-20-questions {
      background-position: rem-calc(-24) rem-calc(-24);
    }
    &.icon-contact {
      background-position: rem-calc(-24) rem-calc(-48);
    }
    &.icon-d3-js-step-by-step {
      background-position: rem-calc(-24) rem-calc(-72);
    }
  }
}

@media #{$retina} {
  .icon {
    background-image: url(/img/icons@2x.png);
  }
}
