nav {
  background-color: $secondary-color;
  height: rem-calc(80);
  .zv-logo-top {
    background-color: $primary-color;
    height: rem-calc(35);
    position: relative;
    .zv-logo {
      @include single-transition();
      background: transparent url(/img/logo-0-60.png) no-repeat left top;
      background-size: rem-calc(60) rem-calc(60);
      height: rem-calc(60);
      left: rem-calc(30);
      position: absolute;
      top: rem-calc(10);
      width: rem-calc(60);
      //&:hover {
        //background-image: url(/img/logo-1-60.png);
      //}
    }
  }
  .zv-logo-bottom {
    background-color: $background-color;
    height: rem-calc(10);
  }
  .zv-nav {
    float: right;
    list-style-type: none;
    margin: rem-calc(0 0 0 100);
    padding: 0;
    li {
      float: left;
      a {
        @include single-transition(all, 0.3s);
        color: $background-color;
        display: block;
        height: rem-calc(35);
        margin: 0;
        padding: rem-calc(5) rem-calc(20) 0 rem-calc(20);
        .icon {
          display: block;
          margin: 0;
        }
        .text {
          display: none;
        }
        &:hover {
          background-color: $tertiary-color;
          color: $primary-color;
        }
      }
    }
  }
}

@media #{$medium-up} {
  nav {
    float: left;
    height: 100%;
    overflow-y: auto;
    width: rem-calc(120);
    .zv-nav {
      border-top: rem-calc(1) solid $tertiary-color;
      float: none;
      margin: rem-calc(40) 0 rem-calc(7) 0;
      li {
        float: none;
        a {
          background-color: $secondary-color;
          border-bottom: rem-calc(1) solid $tertiary-color;
          height: auto;
          margin: 0;
          padding: rem-calc(12);
          .icon {
            margin: 0 auto;
          }
        }
      }
    }
  }
}

@media #{$large-up} {
  nav {
    width: rem-calc(240);
    .zv-logo-top {
      height: rem-calc(75);
      .zv-logo {
        background: transparent url(/img/logo-0-120.png) no-repeat left top;
        background-size: rem-calc(120) rem-calc(120);
        height: rem-calc(120);
        left: rem-calc(60);
        top: rem-calc(25);
        width: rem-calc(120);
        //&:hover {
          //background-image: url(/img/logo-1-120.png);
        //}
      }
    }
    .zv-logo-bottom {
      height: rem-calc(20);
    }
    .zv-nav {
      margin: rem-calc(85) 0 rem-calc(14) 0;
      li {
        a {
          height: auto;
          padding: rem-calc(12) rem-calc(16);
          .icon {
            float: left;
            margin: 0 rem-calc(12) 0 0;
          }
          .text {
            display: block;
            padding: rem-calc(1) 0 0 0;
          }
        }
      }
    }
  }
}

@media #{$retina} {
  nav {
    .zv-logo-top {
      .zv-logo {
        background-image: url(/img/logo-0-60@2x.png);
        &:hover {
          background-image: url(/img/logo-1-60@2x.png);
        }       
      }
    }
  }
  @media #{$large-up} {
    nav {
      .zv-logo-top {
        .zv-logo {
          background-image: url(/img/logo-0-120@2x.png);
          &:hover {
            background-image: url(/img/logo-1-120@2x.png);
          }
        }
      }
    } 
  }
}
