.social-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  li {
    margin: 0 0 rem-calc(16) 0;
    a {
      @include radius(rem-calc(5));
      @include single-transition(background-color);
      @include clearfix();
      display: block;
      padding: rem-calc(4);
      width: rem-calc(200);
      .social-icon {
        display: block;
        float: left;
      }
      .social-handle {
        display: block;
        font-size: rem-calc(18);
        margin: rem-calc(5) 0 0 rem-calc(50);
      }
      &:hover {
        background: white;
      }
    }
  }
}

.social-icon {
  background-color: transparent;
  background-image: url(/img/social-icons.png);
  background-size: rem-calc(40) rem-calc(160);
  height: rem-calc(40);
  vertical-align: middle;
  width: rem-calc(40);
  &.github {
    background-position: 0 0;
  }
  &.instagram {
    background-position: 0 rem-calc(-40);
  }
  &.linkedin {
    background-position: 0 rem-calc(-80);
  }
  &.twitter {
    background-position: 0 rem-calc(-120);
  }
}

@media #{$retina} {
  .social-icon {
    background-image: url(/img/social-icons@2x.png);
  }
}
