@charset "UTF-8";

@import url("//fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,700");
@import
  "../../bower_components/foundation/scss/normalize",
  "../../bower_components/foundation/scss/foundation/components/global";

$primary-color: #88D21E;
$secondary-color: #727272;
$tertiary-color: #575757;
$background-color: #efefef;
$body-font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
$header-font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
$header-font-weight: 300;
$retina: "only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min--moz-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-device-pixel-ratio: 2)";

@import
  "../../bower_components/foundation/scss/foundation/components/panels",
  "../../bower_components/foundation/scss/foundation/components/type",
  "../../bower_components/foundation/scss/foundation/components/visibility",
  "nav";

html, body {
  background-color: $background-color;
  font-family: $body-font-family;
}

pre {
  margin-bottom: rem-calc(20);
  code {
    font-size: rem-calc(14);
  }
}

footer {
  font-size: rem-calc(12);
  padding: rem-calc(20) 0 rem-calc(10) 0;
  text-align: center;
  width: 100%;
}

a {
  color: darken($primary-color, 10%);
  &:visited {
    color: darken($primary-color, 10%);
  }
  &:hover {
    color: darken($primary-color, 20%);
  }
}

blockquote {
  @extend .panel;
}

.panel.browsehappy {
  margin: 0;
}

.zv-container {
  .zv-post, .zv-page, .zv-list, .zv-error {
    padding: rem-calc(5) rem-calc(12) rem-calc(20) rem-calc(12);
    .zv-content {
      margin: rem-calc(20) 0 rem-calc(40) 0;
    }
  }
  .zv-list {
    .zv-list-entry {
      border-bottom: rem-calc(1) solid $secondary-color;
      padding: rem-calc(12); 
      .zv-title {
        font-size: rem-calc(36);
      }
    }
  }
  .zv-meta {
    margin: 0 0 rem-calc(8) 0;
    .zv-date {
      color: #777;
      font-size: rem-calc(14);
    }
    .zv-tags {
      .zv-tag {
        @include radius(rem-calc(4));
        @include single-transition(all, 0.3s);
        background: $secondary-color;
        color: white;
        font-size: rem-calc(12);
        margin: 0 rem-calc(4) 0 0;
        padding: rem-calc(0) rem-calc(8);
        text-decoration: none;
        &:hover {
          background: darken($secondary-color, 10%);
          color: $primary-color; 
        }
      }
    }
  }
}

@media #{$medium-up} {
  html, body {
    height: 100%;
    overflow-y: auto;
  }
  footer {
    bottom: 0;
    color: white;
    left: 0;
    padding: rem-calc(20) rem-calc(10) rem-calc(10) rem-calc(10);
    position: fixed;
    width: rem-calc(120);
  }
  .zv-container {
    height: 100%;
    overflow-y: auto;
    .zv-page, .zv-post, .zv-list, .zv-error {
      padding: rem-calc(10) rem-calc(20);
    }
  }
}

@media #{$large-up} {
  footer {
    width: rem-calc(240);
  }
  .zv-container {
    .zv-page, .zv-post, .zv-list, .zv-error {
      margin: 0 auto;
      max-width: rem-calc(1024);
      padding: rem-calc(20) rem-calc(40);
    }
  }
}

@import "obsidian";
